@charset "UTF-8";
/* ----------HEADER, INDEX AND FOOTER---------- */
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #faf6ed;
  width: 100%; }

.container-fluid {
  background-color: #faf6ed; }

.bg-light {
  --bs-bg-opacity: 1;
  background-color: #faf6ed, var(--bs-bg-opacity) !important; }

header {
  display: flex;
  justify-content: center; }

.dropdown-menu {
  background-color: #faf6ed; }

/* .menu {
    display: flex;
    flex-direction: row;
    max-width: 650px;
} */
/* .logoprincipal {
    width: 300px;
    height: 200px;
} */
/* .menunav {
    text-decoration: none;
    text-decoration-line: none;
    padding-right: 25px;
    color: black;
    text-transform: uppercase;
} */
.contenedormayor {
  margin: auto;
  margin-top: 20px;
  width: 100%; }

.contenedorpadre_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; }

.fototodas {
  width: 100%; }

.alta {
  width: 100%; }

.contenedorhijo_flex {
  display: flex;
  margin: auto;
  gap: 10px; }

footer {
  width: 100%; }

.gridfooter {
  width: 100%;
  background-color: #738f66;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo    logo    logo" "iframe  redes   info"; }

.gridhijo2 {
  grid-area: iframe;
  text-align: center; }

.gridhijo1 {
  width: 100%;
  grid-area: logo;
  align-items: center;
  text-align: center; }

.gridhijo3 {
  width: 100%;
  grid-area: redes;
  align-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly; }

.gridhijo4 {
  width: 100%;
  grid-area: info;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.gridhijo4 p {
  font-size: large;
  font-family: sans-serif;
  font-style: italic;
  padding-bottom: 1rem;
  color: black; }

.redes {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly; }

.gridhijo4 li {
  list-style: none; }

.imgredes {
  width: 35px; }

.footerletra {
  font-size: 1.5rem; }

ul {
  list-style: none; }

li a {
  text-decoration: none;
  color: black; }

/* ----------HEADER, INDEX AND FOOTER----------- */
/* -----------MAIN DE LENCERÍA----------- */
/* "color color foto1 foto1 foto2 foto2 foto3 foto3"
    "talle talle foto1 foto1 foto2 foto2 foto3 foto3"
    "talle talle foto4 foto4 foto5 foto5 foto6 foto6"
    "conoce conoce foto4 foto4 foto5 foto5 foto6 foto6" */
.maingrid {
  display: grid;
  grid-template-columns: 200px, 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "menus fotos" "menus fotos"; }

.menues {
  grid-area: menus;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  gap: 20px;
  align-items: center;
  text-align: justify; }

.colores {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
  padding-top: 20px;
  gap: 8px; }

.talles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
  padding-top: 20px;
  gap: 8px; }

.ideallink {
  font-size: 1.3rem;
  align-items: center; }

.ideallink a {
  text-decoration: none;
  color: black; }

.imglenc {
  width: 450px;
  max-width: 100%;
  max-height: 100%; }

.imageneslenceria {
  grid-area: fotos;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  grid-template-rows: repeat(2, 1fr);
  /* grid-template-areas:
    "foto1 foto1 foto2 foto2 foto3 foto3"
    "foto1 foto1 foto2 foto2 foto3 foto3"
    "foto4 foto4 foto5 foto5 foto6 foto6"
    "foto4 foto4 foto5 foto5 foto6 foto6"; */ }

.imglenc:nth-of-type(1) {
  grid-column: 1/5; }

.imglenc:nth-of-type(2) {
  grid-column: 5/9; }

.imglenc:nth-of-type(3) {
  grid-column: 9/13; }

.imglenc:nth-of-type(4) {
  grid-column: 1/5; }

.imglenc:nth-of-type(5) {
  grid-column: 5/9; }

.imglenc:nth-of-type(6) {
  grid-column: 9/13; }

/* -----------CONTACTO------------ */
.gridcontacto {
  display: grid;
  gap: 20px;
  justify-content: space-evenly;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 50px);
  grid-template-areas: "nombre asunto" "camnom camasu" "apelli mensaje" "camape cammen" "correo cammen" "camcor enviar"; }

fieldset {
  border: none; }

.nombre {
  grid-area: nombre; }

.ingnombre {
  grid-area: camnom; }

.apellido {
  grid-area: apelli; }

.ingapellido {
  grid-area: camape; }

.correo {
  grid-area: correo; }

.ingcorreo {
  grid-area: camcor; }

.consu {
  grid-area: asunto; }

.ingconsu {
  grid-area: camasu; }

.mensaje {
  grid-area: mensaje; }

.ingmensaje {
  grid-area: cammen; }

.enviar {
  width: 50px;
  grid-area: enviar; }

input {
  background-color: transparent; }

select {
  background-color: transparent; }

textarea {
  background-color: transparent; }

.subti {
  font-size: 1.5rem; }

.breadcrumb {
  justify-content: center; }

.navbar {
  width: 100%; }

.navbar-collapse {
  justify-content: space-around; }

.btn {
  border-color: black;
  color: black;
  width: auto;
  height: 40px;
  background-color: transparent; }

.form-control {
  background-color: transparent; }

.btn-outline-success {
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: black;
  --bs-btn-hover-color: black;
  --bs-btn-active-bg: none; }

.imginiciarsesion {
  width: 35px; }

.btn-outline-warning {
  background-color: transparent;
  --bs-btn-hover-bg:transparent;
  --bs-btn-hover-border-color: black;
  --bs-btn-color: gray ; }

.page-link {
  color: black;
  background-color: transparent; }

.offcanvas-title {
  width: 300px; }

.btn-primary {
  --bs-btn-hover-bg: black;
  --bs-btn-border-color: black;
  --bs-btn-hover-border-color: black;
  --bs-btn-active-bg: black; }

.offcanvasolv {
  padding-top: 15px; }

.letrasnegras {
  color: black;
  text-decoration-color: black; }

.form-check-input:checked {
  background-color: black; }

@media (min-width: 577px) and (max-width: 991px) {
  /* header {
        flex-direction: column;
        
    }
    .menu {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    } */
  .iframemaps {
    width: 100%; }
  .contenedorhijo_flex {
    flex-direction: column; }
  .imglenc:nth-of-type(1) {
    grid-column: 1/7; }
  .imglenc:nth-of-type(2) {
    grid-column: 7/13; }
  .imglenc:nth-of-type(3) {
    grid-column: 1/7; }
  .imglenc:nth-of-type(4) {
    grid-column: 7/13; }
  .imglenc:nth-of-type(5) {
    grid-column: 1/7; }
  .imglenc:nth-of-type(6) {
    grid-column: 7/13; }
  .gridcontacto {
    grid-template-columns: 1fr;
    grid-template-areas: "nombre" "camnom" "apelli" "camape" "correo" "camcor" "asunto" "camasu" "mensaje" "cammen" "cammen" "enviar"; } }

/* -----------media query mobile (medidas no exactas)------------- */
@media (min-width: 320px) and (max-width: 576px) {
  header {
    flex-direction: column; }
  .menu {
    flex-direction: column; }
  .variantecolores {
    font-size: medium; }
  .colores {
    font-size: small; }
  .variantetalles {
    font-size: medium; }
  .talles {
    font-size: small; }
  .iframemaps {
    width: 175px;
    height: 250px; }
  .contenedorhijo_flex {
    flex-direction: column; }
  .imageneslenceria {
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
    grid-template-rows: repeat(1fr); }
  .imglenc:nth-of-type(1) {
    grid-column: 1/9; }
  .imglenc:nth-of-type(2) {
    grid-column: 1/9; }
  .imglenc:nth-of-type(3) {
    grid-column: 1/9; }
  .imglenc:nth-of-type(4) {
    grid-column: 1/9; }
  .imglenc:nth-of-type(5) {
    grid-column: 1/9; }
  .imglenc:nth-of-type(6) {
    grid-column: 1/9; }
  .menues {
    align-items: flex-start;
    width: 110px; }
  .ideallink {
    width: 70px; }
  .maingrid {
    width: 100%; }
  .maingrid img {
    width: 250px; }
  .redes {
    flex-direction: column; }
  .gridcontacto {
    grid-template-columns: 1fr;
    grid-template-areas: "nombre" "camnom" "apelli" "camape" "correo" "camcor" "asunto" "camasu" "mensaje" "cammen" "cammen" "enviar"; }
  .gridfooter {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px; }
  .redes {
    display: flex;
    flex-direction: row; }
  .logofooter {
    width: 320px; }
  .offcanvas-start.show {
    width: 250px; }
  .offcanvas-title {
    width: 100%; } }
