/* ----------HEADER, INDEX AND FOOTER---------- */

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(250, 246, 237);
    width: 100%;
    header {
        display: flex;
        justify-content:center;
        .bg-light {
            --bs-bg-opacity: 1;
            background-color: rgb(250, 246, 237),var(--bs-bg-opacity)!important;}
        .navbar {
            width: 100%;
            }
            .container-fluid {
                background-color: rgb(250, 246, 237);
                }
                .navbar-collapse{
                    justify-content: space-around;
                    .nav-link{
                        &:hover{
                            font-size: 18px;
                        }
                    }
                    .dropdown {
                        &-menu {
                            background-color:rgb(250, 246, 237) ;
                            .dropdown-item {
                                &:hover {
                                    font-size: 18px;
                                }    
                             }
                         }    
                    }
                    .btn {
                        border-color: black;
                       color: black;
                        width: auto;
                       height: 40px;
                        background-color: transparent;
                        &-primary {
                             --bs-btn-bg: black;
                             --bs-btn-hover-bg: black;
                             --bs-btn-border-color: black;
                             --bs-btn-hover-border-color: black;
                             --bs-btn-active-bg: black;      
                           }
                        &-outline-success {
                            --bs-btn-hover-bg: transparent;
                            --bs-btn-hover-border-color : black;
                            --bs-btn-hover-color: black;
                            --bs-btn-active-bg: none;
                        }
                   }
                }   
    }
    .breadcrumb {
        justify-content: center;
        li {
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    .contenedormayor{
        margin: auto;
        margin-top: 20px;
        width: 100%;
     }  
    .offcanvas {
        &-title {
            width: 300px;
        }
        .form-control {
            background-color: transparent;
        }
        .form-check-input{
            &:checked {
                background-color: black;
            }   
        }
        .btn {
            border-color: black;
           color: black;
            width: auto;
           height: 40px;
            background-color: transparent;
            &-primary {
                 --bs-btn-bg: black;
                 --bs-btn-hover-bg: black;
                 --bs-btn-border-color: black;
                 --bs-btn-hover-border-color: black;
                 --bs-btn-active-bg: black;      
               }
            &-outline-success {
                --bs-btn-hover-bg: transparent;
                --bs-btn-hover-border-color : black;
                --bs-btn-hover-color: black;
                --bs-btn-active-bg: none;
            }
       }
        .offcanvasolv{
            padding-top: 15px;
        }
        .letrasnegras {   
            color: black;
            text-decoration-color: black;
        }
    }
    .pagination {
        .page-link {
            color: black;
            background-color: transparent;
        }
    }
    .maingrid {
        display: grid;
        grid-template-columns:200px, 5fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "menus fotos"
        "menus fotos";
        .menues {
            grid-area: menus;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 200px;
            gap: 20px;
            align-items: center;
            text-align: justify;
            .menucolores {
                .variantecolores {
                    .colores {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-left: 25px;
                        padding-top: 20px;
                        gap: 8px;
                    }
                }
            }
            .menutalles {
                .variantetalles {
                    .talles {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-left: 25px;
                        padding-top: 20px;
                        gap: 8px;
                    }
                }
            }
            .ideallink {
                font-size: 1.3rem;
                align-items: center;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
        .imageneslenceria {
            grid-area: fotos;
            display: grid;
            grid-template-columns:repeat(12 , 1fr);
            gap: 30px;
            grid-template-rows:repeat(2 , 1fr);
            .imglenc {
                width: 100%;
                max-width: 100%;
                max-height: 100%;
            } 
        }
    }
    .btn {
        &-outline-warning {
            background-color: transparent;
            --bs-btn-hover-bg :transparent;
            --bs-btn-hover-border-color: black;
            --bs-btn-color: gray ;
            --bs-btn-border-color : black ;
            --bs-btn-active-bg : transparent ;
            --bs-btn-focus-shadow-rgb :black ;
            --bs-btn-active-border-color : black ;
        }
    }
    .subti {
        font-size: 1.5rem;
    }
    .gridcontacto {
        border: none;
        display: grid;
        gap: 20px;
        justify-content: space-evenly;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6 , 50px);
        grid-template-areas:
        "nombre asunto"
        "camnom camasu"
        "apelli mensaje"
        "camape cammen"
        "correo cammen"
        "camcor enviar";
        input {
            background-color: transparent;
        }
        select {
            background-color: transparent;
        }
        textarea {
            background-color: transparent;
        }
        .nombre{
            grid-area: nombre;
        }
        .ingnombre {
            grid-area: camnom;
        }
        .apellido {
            grid-area: apelli;
        }
        .ingapellido {
            grid-area: camape;
        }
        .correo{
            grid-area: correo;
        }
        .ingcorreo {
            grid-area: camcor;
        }
        .consu {
            grid-area: asunto;
        }
        .ingconsu {
            grid-area: camasu;
        }
        .mensaje {
            grid-area: mensaje;
        }
        .ingmensaje {
            grid-area: cammen;
        }
        .enviar {
            width: 50px;
            grid-area: enviar;
        }
    }      
}
.gridfooter {
     width: 100%;
     background-color: rgb(115, 143, 102);
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-template-areas: 
     "logo    logo    logo"
     "iframe  redes   info";
     .gridhijo1 {
         width: 100%;
         grid-area: logo;
         align-items: center;
         text-align: center;
         .logofooter {
             width: 320px;
             }
     }
     .gridhijo2 {
         grid-area: iframe;
         text-align: center;
         .iframemaps {
             width: 100%;
            }
         }
     .gridhijo3 {
         width: 100%;
         grid-area: redes;
         align-content: center;
         display: flex;
         flex-direction: column;
         text-align: center;
         justify-content: space-evenly;
         .footerletra {
             font-size: 1.5rem;
         }
         .redes {
             list-style: none;
             display: flex;
             align-items: center;
             width: 100%;
             justify-content: space-evenly;
             .imgredes {
                 width: 35px;
                    }
             }
         }
      .gridhijo4 {
         width: 100%;
         grid-area: info;
         flex-wrap: wrap;
         display: flex;
         flex-direction: column;
         justify-content: center;
         li{
            list-style: none;
          }
         p {
            font-size: large;
            font-family: sans-serif;
            font-style: italic; 
            padding-bottom: 1rem;
            color: black;
         }
         a {
            text-decoration: none;
         }
      }
    }
    .imglenc:nth-of-type(1) {
        grid-column: 1/5;
    }
    .imglenc:nth-of-type(2) {
        grid-column: 5/9;
    }        
    .imglenc:nth-of-type(3) {
        grid-column: 9/13;
    }          
    .imglenc:nth-of-type(4) {
        grid-column: 1/5;
    }           
    .imglenc:nth-of-type(5) {
        grid-column: 5/9;
    }        
    .imglenc:nth-of-type(6) {
        grid-column: 9/13;
    }
@media (min-width: 577px) and (max-width:991px) {
    body {
        .imageneslenceria{
            grid-template-columns:repeat(2 , 1fr);
            grid-template-rows:repeat(3, 1fr) ;
            .imglenc:nth-of-type(1) {
                grid-column: 1/7;
            }
            .imglenc:nth-of-type(2) {
                grid-column: 7/13;
            }
            .imglenc:nth-of-type(3) {
                grid-column: 1/7;
            }
            .imglenc:nth-of-type(4) {
                grid-column: 7/13;
            }
            .imglenc:nth-of-type(5) {
                grid-column: 1/7;
            }
            .imglenc:nth-of-type(6) {
                grid-column: 7/13;
            }
        }
        .gridcontacto {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas:
             "nombre"
             "camnom"
             "apelli"
             "camape"
             "correo"
             "camcor"
             "asunto"
             "camasu"
             "mensaje"
             "cammen"
             "cammen"
             "enviar";
        }
    }    
}
@media (min-width: 320px) and (max-width:576px) {
    body {
        header {
            flex-direction: column;
        }
        .maingrid {
            width: 100%;
            .menues {
                align-items: flex-start;
                width: 110px;  
                .menucolores {
                    .variantecolores{
                        font-size: medium;
                        .colores {
                            font-size: small;
                        }
                    }
                } 
                .menutalles {
                    .variantetalles {
                        font-size: medium;
                        .talles {
                            font-size: small;
                        }
                    }
                }
                .ideallink {
                    width: 70px;
                }
            }
            .imageneslenceria {
                .imglenc {
                    width: 250px;
                }
                grid-template-columns:repeat(6 , 1fr);
                grid-template-rows:1fr ;
                .imglenc:nth-of-type(1) {
                    grid-column: 1/7;
                }
                .imglenc:nth-of-type(2) {
                    grid-column: 1/7;
                }
                .imglenc:nth-of-type(3) {
                    grid-column: 1/7;
                }
                .imglenc:nth-of-type(4) {
                    grid-column: 1/7;
                }
                .imglenc:nth-of-type(5) {
                    grid-column: 1/7;
                }
                .imglenc:nth-of-type(6) {
                    grid-column: 1/7;
                }
        }
    }
    .gridcontacto {
        grid-template-columns: 1fr;
        grid-template-rows:repeat(6, 1fr);
        grid-template-areas:
        "nombre"
        "camnom"
        "apelli"
        "camape"
        "correo"
        "camcor"
        "asunto"
        "camasu"
        "mensaje"
        "cammen"
        "cammen"
        "enviar"; 
    }
    .offcanvas {
        &-header {
            .offcanvas-title {
                width: 100%;
            }
        }
    }
    .offcanvas-start.show {
        width: 250px;
    }
    }
.gridfooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    .gridhijo1 {
        .logofooter{
            width: 310px;
        }
    }
    .gridhijo2 {
        .iframemaps {
            width: 175px;
            height: 250px;
        }
    }
    .gridhijo3 {
        .redes {
            display: flex;
            flex-direction: column;
            gap:2rem ;
        }
    }
} 
}