@import "./utilities/variables";
@import "./components/reset";
body {
    background-color: $color-fondo;
    width: 100%;
    header {
        display: flex;
        justify-content:center;
        .bg-light {
            --bs-bg-opacity: 1;
            background-color: $color-fondo,var(--bs-bg-opacity)!important;}
        .navbar {
            width: 100%;
            }
            .container-fluid {
                background-color: $color-fondo;
                }
                .navbar-collapse{
                    justify-content: space-around;
                    .nav-link{
                        &:hover{
                            font-size: $tamano-hover;
                        }
                    }
                    .dropdown {
                        &-menu {
                            background-color:$color-fondo ;
                            .dropdown-item {
                                &:hover {
                                    font-size: $tamano-hover;
                                }    
                             }
                         }    
                    }
                    .btn {
                        border-color: black;
                       color: $color-negro;
                        width: auto;
                       height: 40px;
                        background-color: $fondo-transparente;
                        &-primary {
                             --bs-btn-bg: $color-negro;
                             --bs-btn-hover-bg: $color-negro;
                             --bs-btn-border-color: black;
                             --bs-btn-hover-border-color:black;
                             --bs-btn-active-bg: $color-negro;      
                           }
                        &-outline-success {
                            --bs-btn-hover-bg: $fondo-transparente;
                            --bs-btn-hover-border-color : black;
                            --bs-btn-hover-color: $color-negro;
                            --bs-btn-active-bg: none;
                        }
                   }
                }   
    }
    .breadcrumb {
        justify-content: center;
        li {
            a {
                text-decoration: none;
                color: $color-negro;
            }
        }
    }
    .contenedormayor{
        margin: auto;
        margin-top: 20px;
        width: 100%;
     }  
    .offcanvas {
        &-title {
            width: 300px;
        }
        .form-control {
            background-color: $fondo-transparente;
        }
        .form-check-input{
            &:checked {
                background-color: $color-negro;
            }   
        }
        .btn {
            border-color: black;
           color: $color-negro;
            width: auto;
           height: 40px;
            background-color: $fondo-transparente;
            &-primary {
                 --bs-btn-bg: $color-negro;
                 --bs-btn-hover-bg: $color-negro;
                 --bs-btn-border-color: black;
                 --bs-btn-hover-border-color: black;
                 --bs-btn-active-bg: $color-negro;      
               }
            &-outline-success {
                --bs-btn-hover-bg: $fondo-transparente;
                --bs-btn-hover-border-color : black;
                --bs-btn-hover-color: $color-negro;
                --bs-btn-active-bg: none;
            }
       }
        .offcanvasolv{
            padding-top: 15px;
        }
        .letrasnegras {   
            color: $color-negro;
            text-decoration-color: $color-negro;
        }
    }
    .pagination {
        .page-link {
            color: $color-negro;
            background-color: $fondo-transparente;
        }
    }
    .maingrid {
        display: grid;
        grid-template-columns:200px, 5fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "menus fotos"
        "menus fotos";
        .menues {
            grid-area: menus;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 200px;
            gap: 20px;
            align-items: center;
            text-align: justify;
            .menucolores {
                .variantecolores {
                    .colores {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-left: 25px;
                        padding-top: 20px;
                        gap: 8px;
                    }
                }
            }
            .menutalles {
                .variantetalles {
                    .talles {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-left: 25px;
                        padding-top: 20px;
                        gap: 8px;
                    }
                }
            }
            .ideallink {
                font-size: $tamano-grande;
                align-items: center;
                a {
                    text-decoration: none;
                    color: $color-negro;
                }
            }
        }
        .imageneslenceria {
            grid-area: fotos;
            display: grid;
            grid-template-columns:repeat(12 , 1fr);
            grid-template-rows:repeat(2 , 1fr);
            gap: 30px;
            .imglenc {
                width: 100%;
                &:nth-of-type(1) {
                    grid-column: 1/5;
                }
                &:nth-of-type(2) {
                    grid-column: 5/9;
                }   
                &:nth-of-type(3) {
                    grid-column: 9/13;
                }
                &:nth-of-type(4) {
                    grid-column: 1/5;
                }
                &:nth-of-type(5) {
                    grid-column: 5/9;
                }    
                &:nth-of-type(6) {
                    grid-column: 9/13;
                } 
            } 
        }
    }
    .btn {
        &-outline-warning {
            background-color: $fondo-transparente;
            --bs-btn-hover-bg :$fondo-transparente;
            --bs-btn-hover-border-color: black;
            --bs-btn-color: gray ;
            --bs-btn-border-color : black ;
            --bs-btn-active-bg : $fondo-transparente ;
            --bs-btn-focus-shadow-rgb :$color-negro ;
            --bs-btn-active-border-color : black;
        }
    }
    .subti {
        font-size: 1.5rem;
    }
    .gridcontacto {
        border: none;
        display: grid;
        gap: 20px;
        justify-content: space-evenly;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6 , 50px);
        grid-template-areas:
        "nombre asunto"
        "camnom camasu"
        "apelli mensaje"
        "camape cammen"
        "correo cammen"
        "camcor enviar";
        input {
            background-color: $fondo-transparente;
        }
        select {
            background-color: $fondo-transparente;
        }
        textarea {
            background-color: $fondo-transparente;
        }
        .nombre{
            grid-area: nombre;
        }
        .ingnombre {
            grid-area: camnom;
        }
        .apellido {
            grid-area: apelli;
        }
        .ingapellido {
            grid-area: camape;
        }
        .correo{
            grid-area: correo;
        }
        .ingcorreo {
            grid-area: camcor;
        }
        .consu {
            grid-area: asunto;
        }
        .ingconsu {
            grid-area: camasu;
        }
        .mensaje {
            grid-area: mensaje;
        }
        .ingmensaje {
            grid-area: cammen;
        }
        .enviar {
            width: 50px;
            grid-area: enviar;
        }
    }      
}    
@import "./components/footer";
@import "./components/mediaqueries" ;