.maingrid {
    display: grid;
    grid-template-columns:200px, 5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "menus fotos"
    "menus fotos";
    .menues {
        grid-area: menus;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 200px;
        gap: 20px;
        align-items: center;
        text-align: justify;
        .menucolores {
            .variantecolores {
                .colores {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 25px;
                    padding-top: 20px;
                    gap: 8px;
                }
            }
        }
        .menutalles {
            .variantetalles {
                .talles {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 25px;
                    padding-top: 20px;
                    gap: 8px;
                }
            }
        }
        .ideallink {
            font-size: $tamano-grande;
            align-items: center;
            a {
                text-decoration: none;
                color: $color-negro;
            }
        }
    }
    .imageneslenceria {
        grid-area: fotos;
        display: grid;
        grid-template-columns:repeat(12 , 1fr);
        grid-template-rows:repeat(2 , 1fr);
        gap: 30px;
        .imglenc {
            width: 100%;
            &:nth-of-type(1) {
                grid-column: 1/5;
            }
            &:nth-of-type(2) {
                grid-column: 5/9;
            }   
            &:nth-of-type(3) {
                grid-column: 9/13;
            }
            &:nth-of-type(4) {
                grid-column: 1/5;
            }
            &:nth-of-type(5) {
                grid-column: 5/9;
            }    
            &:nth-of-type(6) {
                grid-column: 9/13;
            } 
        } 
    }
}