.mainflex {
    justify-content: center;
    display: flex;
    width: 100%;
    .menues {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 200px;
        gap: 20px;
        align-items: center;
        text-align: justify;
        .menucolores {
            .colores {
                font-size: $tamano-mediano;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 25px;
                padding-top: 20px;
                gap: 8px;
            }
            .variantecolores {
                font-size: $tamano-grande;
            }
        }
        .menutalles {
            .talles {
                font-size: $tamano-mediano;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 25px;
                padding-top: 20px;
                gap: 8px;
            }
            .variantetalles {
                font-size: $tamano-grande;
            }
        }
        .ideallink {
            font-size: $tamano-mediano;
            align-items: center;
            a {
                text-decoration: none;
                color: $color-negro;
            }
        }
    }
    .imageneslenceria {
        width: 70%;
        display: grid;
        grid-template-columns:repeat(12 , 1fr);
        grid-template-rows:1fr 1fr;
        gap: 30px;
        .imglenc{
            width: 100%;
        }
        &_grid{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            &:nth-of-type(1) {
                grid-column: 1/5;
            }
            &:nth-of-type(2) {
                grid-column: 5/9;
            }
            &:nth-of-type(3) {
                grid-column: 9/13;
            }
            &:nth-of-type(5) {
                grid-column: 1/5;
                grid-row: 2;
            }
            &:nth-of-type(4) {
                grid-column: 5/9;
                grid-row: 2;
            }
            &:nth-of-type(6) {
                grid-column: 9/13;
                grid-row: 2;
            }
            .titulos_productos {
                font-size: $tamano-mediano;
                cursor: pointer;
            }
            .precio_productos {
                font-size: 12px;
                cursor: pointer;
            }
            .selec_color {
                span {
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    display: inline-block;
                    margin-right: 5px;
                    cursor: pointer;
                    background-size: contain;
                    position: relative;
                    transition: all 0.5s;
                }
                .color_negro {
                    background-color: black;
                    &:hover {
                        width: 25px;
                        height: 25px;
                    }
                }
                .color_blanco {
                    background-color: white;
                    &:hover {
                        width: 25px;
                        height: 25px;
                    }
                }
                .color_rojo {
                    background-color: red;
                    &:hover {
                        width: 25px;
                        height: 25px;
                    }
                }
                .color_celeste {
                    background-color: skyblue;
                    &:hover {
                        width: 25px;
                        height: 25px;
                    }
                }
                .color_dorado {
                    background-color:darkgoldenrod;
                    &:hover {
                        width: 25px;
                        height: 25px;
                    }
                }
                .color_verde {
                    background-color: green;
                    &:hover {
                        width: 25px;
                        height: 25px;
                    }
                }   
                .color_bordo {
                    background-color: brown;
                    &:hover {
                        width: 25px;
                        height: 25px;
                    }
                }
                .color_violeta {
                    background-color: violet;
                    &:hover {
                        width: 25px;
                        height: 25px;
                    }
                }
                .color_rosa {
                    background-color: pink;
                    &:hover {
                        width: 25px;
                        height: 25px;
                    }
                }
                .color_azul {
                    background-color: blue;
                    &:hover {
                        width: 25px;
                        height: 25px;
                    }
                }
                .color_beige {
                    background-color: beige;
                    &:hover {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}